/*-------- Custom Control -------*/

.custom-control {
	position: relative;
	display: block;
	min-height: 1.5rem;
	padding-left: 1.5rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.custom-control-inline {
	display: -ms-inline-flexbox;
	display: inline-flex;
	margin-right: 1rem;
}
.custom-control-input {
	position: absolute;
	z-index: -1;
	opacity: 0;
	&:checked~.custom-control-label::before {
		color: #fff;
	}
	&:active~.custom-control-label::before {
		color: #fff;
		background-color: #d4e1f4;
	}
	&:disabled~.custom-control-label {
		color: #868e96;
		&::before {
			background-color: $border-color;
		}
	}
}
.custom-control-label {
	margin-bottom: 0;
	position: static !important;
	vertical-align: middle;
	&::before {
		position: absolute;
		top: .25rem;
		left: 0;
		display: block;
		width: 1rem;
		height: 1rem;
		pointer-events: none;
		content: "";
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-color: $border-color;
	}
	&::after {
		position: absolute;
		top: .25rem;
		left: 0;
		display: block;
		width: 1rem;
		height: 1rem;
		content: "";
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 50% 50%;
	}
}
.custom-checkbox .custom-control-label::before {
	border-radius: 5px;
}
.br.custom-checkbox .custom-control-label::before {
	border-radius: 50px;
}
.custom-checkbox .custom-control-input {
	&:checked~.custom-control-label::after {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
	}
	&:indeterminate~.custom-control-label::after {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23fff' d='M0 2h4'/%3E%3C/svg%3E");
	}
	&:disabled {
		&:checked~.custom-control-label::before {
			background-color: rgba(0, 20, 142, 0.6);
		}
		&:indeterminate~.custom-control-label::before {
			background-color: rgba(5, 117, 230, 0.5);
		}
	}
}
.custom-radio {
	.custom-control-label::before {
		border-radius: 50%;
	}
	.custom-control-input {
		&:checked~.custom-control-label::after {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E");
		}
		&:disabled:checked~.custom-control-label::before {
			background-color: rgba(0, 20, 142, 0.6);
		}
	}
}
.custom-select {
	display: inline-block;
	width: 100%;
	height: 2.375rem;
	padding: .5rem 1.75rem .5rem .75rem;
	line-height: 1.5;
	color: #cecde0;
	vertical-align: middle;
	background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 5'%3E%3Cpath fill='#999' d='M0 0L10 0L5 5L0 0'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
	background-size: 8px 10px;
	border: 1px solid $border-color;
	border-radius: 5px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	&:focus {
		outline: 0;
		box-shadow: inset 0 1px 2px rgba(49, 45, 101, 0.075), 0 0 5px rgba(25, 145, 235, 0.5);
		&::-ms-value {
			color: #3d4e67;
			background-color: #fff;
		}
	}
	&[multiple], &[size]:not([size="1"]) {
		height: auto;
		padding-right: .75rem;
		background-image: none;
	}
	&:disabled {
		color: #868e96;
		background-color: $border-color;
	}
	&::-ms-expand {
		opacity: 0;
	}
}
.custom-select-sm {
	height: calc(1.8125rem + 2px);
	padding-top: .5rem;
	padding-bottom: .5rem;
	font-size: 75%;
}
div.dataTables_wrapper div.dataTables_filter input {
	margin-left: .5em;
	display: inline-block;
	width: auto;
	height: calc(1.8125rem + 2px);
	border-color: $border-color;
}
.dataTables_wrapper .dataTables_length select {
	border-color: $border-color !important;
	color: $text-color;
}
.custom-select-lg {
	height: calc(2.6875rem + 2px);
	padding-top: .5rem;
	padding-bottom: .5rem;
	font-size: 125%;
}
.custom-file {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 2.375rem;
	margin-bottom: 0;
}
.custom-file-input {
	position: relative;
	z-index: 2;
	width: 100%;
	height: 2.375rem;
	margin: 0;
	opacity: 0;
	&:lang(en)~.custom-file-label::after {
		content: "Browse";
	}
}
.custom-file-label {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
	height: 2.375rem;
	padding: .375rem .75rem;
	line-height: 1.8;
	color: #3d4e67;
	background-color: #fff;
	border: 1px solid $border-color;
	border-radius: 5px;
	&::after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 3;
		display: block;
		height: calc(2.375rem - 1px * 2);
		padding: .375rem .75rem;
		line-height: 1.5;
		color: #fff;
		content: "Browse";
		border-radius: 0 3px 3px 0;
	}
}
.custom-range {
	&::-webkit-slider-thumb:active {
		background-color: #d4e1f4;
	}
	&::-webkit-slider-runnable-track {
		width: 100%;
		height: .5rem;
		color: transparent;
		cursor: pointer;
		background-color: $border-color;
		border-color: transparent;
		border-radius: 1rem;
		background: $color-blue;
		content: '';
		height: 2px;
		pointer-events: none;
	}
	&::-moz-range-thumb:active {
		background-color: #d4e1f4;
	}
	&::-moz-range-track {
		width: 240px;
		height: 2px;
		background: rgba(0, 50, 126, 0.12);
		height: .5rem;
		color: transparent;
		cursor: pointer;
		background-color: $border-color;
		border-color: transparent;
		border-radius: 1rem;
	}
	&::-ms-thumb:active {
		background-color: #d4e1f4;
	}
	&::-ms-fill-lower {
		background-color: $border-color;
		border-radius: 1rem;
	}
	&::-ms-fill-upper {
		margin-right: 15px;
		background-color: $border-color;
		border-radius: 1rem;
	}
	-ms-flex-align: center;
	align-items: center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: 0 0;
	cursor: pointer;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	min-height: 2.375rem;
	overflow: hidden;
	padding: 0;
	border: 0;
	width: 100%;
	padding-left: 0;
	background-color: transparent;
	&:focus {
		box-shadow: none;
		outline: 0;
		&::-webkit-slider-thumb, &::-moz-range-thumb, &::-ms-thumb {
			border-color: $color-blue;
			background-color: $color-blue;
		}
	}
	&::-moz-focus-outer {
		border: 0;
	}
	&::-webkit-slider-thumb {
		width: 14px;
		height: 14px;
		-webkit-appearance: none;
		appearance: none;
		background: #fff;
		border-radius: 50px;
		box-shadow: 1px 0 0 -6px rgba(0, 50, 126, 0.12), 6px 0 0 -6px rgba(0, 50, 126, 0.12), 7px 0 0 -6px rgba(0, 50, 126, 0.12), 8px 0 0 -6px rgba(0, 50, 126, 0.12), 9px 0 0 -6px rgba(0, 50, 126, 0.12), 10px 0 0 -6px rgba(0, 50, 126, 0.12), 11px 0 0 -6px rgba(0, 50, 126, 0.12), 12px 0 0 -6px rgba(0, 50, 126, 0.12), 13px 0 0 -6px rgba(0, 50, 126, 0.12), 14px 0 0 -6px rgba(0, 50, 126, 0.12), 15px 0 0 -6px rgba(0, 50, 126, 0.12), 16px 0 0 -6px rgba(0, 50, 126, 0.12), 17px 0 0 -6px rgba(0, 50, 126, 0.12), 18px 0 0 -6px rgba(0, 50, 126, 0.12), 19px 0 0 -6px rgba(0, 50, 126, 0.12), 20px 0 0 -6px rgba(0, 50, 126, 0.12), 21px 0 0 -6px rgba(0, 50, 126, 0.12), 22px 0 0 -6px rgba(0, 50, 126, 0.12), 23px 0 0 -6px rgba(0, 50, 126, 0.12), 24px 0 0 -6px rgba(0, 50, 126, 0.12), 25px 0 0 -6px rgba(0, 50, 126, 0.12), 26px 0 0 -6px rgba(0, 50, 126, 0.12), 27px 0 0 -6px rgba(0, 50, 126, 0.12), 28px 0 0 -6px rgba(0, 50, 126, 0.12), 29px 0 0 -6px rgba(0, 50, 126, 0.12), 30px 0 0 -6px rgba(0, 50, 126, 0.12), 31px 0 0 -6px rgba(0, 50, 126, 0.12), 32px 0 0 -6px rgba(0, 50, 126, 0.12), 33px 0 0 -6px rgba(0, 50, 126, 0.12), 34px 0 0 -6px rgba(0, 50, 126, 0.12), 35px 0 0 -6px rgba(0, 50, 126, 0.12), 36px 0 0 -6px rgba(0, 50, 126, 0.12), 37px 0 0 -6px rgba(0, 50, 126, 0.12), 38px 0 0 -6px rgba(0, 50, 126, 0.12), 39px 0 0 -6px rgba(0, 50, 126, 0.12), 40px 0 0 -6px rgba(0, 50, 126, 0.12), 41px 0 0 -6px rgba(0, 50, 126, 0.12), 42px 0 0 -6px rgba(0, 50, 126, 0.12), 43px 0 0 -6px rgba(0, 50, 126, 0.12), 44px 0 0 -6px rgba(0, 50, 126, 0.12), 45px 0 0 -6px rgba(0, 50, 126, 0.12), 46px 0 0 -6px rgba(0, 50, 126, 0.12), 47px 0 0 -6px rgba(0, 50, 126, 0.12), 48px 0 0 -6px rgba(0, 50, 126, 0.12), 49px 0 0 -6px rgba(0, 50, 126, 0.12), 50px 0 0 -6px rgba(0, 50, 126, 0.12), 51px 0 0 -6px rgba(0, 50, 126, 0.12), 52px 0 0 -6px rgba(0, 50, 126, 0.12), 53px 0 0 -6px rgba(0, 50, 126, 0.12), 54px 0 0 -6px rgba(0, 50, 126, 0.12), 55px 0 0 -6px rgba(0, 50, 126, 0.12), 56px 0 0 -6px rgba(0, 50, 126, 0.12), 57px 0 0 -6px rgba(0, 50, 126, 0.12), 58px 0 0 -6px rgba(0, 50, 126, 0.12), 59px 0 0 -6px rgba(0, 50, 126, 0.12), 60px 0 0 -6px rgba(0, 50, 126, 0.12), 61px 0 0 -6px rgba(0, 50, 126, 0.12), 62px 0 0 -6px rgba(0, 50, 126, 0.12), 63px 0 0 -6px rgba(0, 50, 126, 0.12), 64px 0 0 -6px rgba(0, 50, 126, 0.12), 65px 0 0 -6px rgba(0, 50, 126, 0.12), 66px 0 0 -6px rgba(0, 50, 126, 0.12), 67px 0 0 -6px rgba(0, 50, 126, 0.12), 68px 0 0 -6px rgba(0, 50, 126, 0.12), 69px 0 0 -6px rgba(0, 50, 126, 0.12), 70px 0 0 -6px rgba(0, 50, 126, 0.12), 71px 0 0 -6px rgba(0, 50, 126, 0.12), 72px 0 0 -6px rgba(0, 50, 126, 0.12), 73px 0 0 -6px rgba(0, 50, 126, 0.12), 74px 0 0 -6px rgba(0, 50, 126, 0.12), 75px 0 0 -6px rgba(0, 50, 126, 0.12), 76px 0 0 -6px rgba(0, 50, 126, 0.12), 77px 0 0 -6px rgba(0, 50, 126, 0.12), 78px 0 0 -6px rgba(0, 50, 126, 0.12), 79px 0 0 -6px rgba(0, 50, 126, 0.12), 80px 0 0 -6px rgba(0, 50, 126, 0.12), 81px 0 0 -6px rgba(0, 50, 126, 0.12), 82px 0 0 -6px rgba(0, 50, 126, 0.12), 83px 0 0 -6px rgba(0, 50, 126, 0.12), 84px 0 0 -6px rgba(0, 50, 126, 0.12), 85px 0 0 -6px rgba(0, 50, 126, 0.12), 86px 0 0 -6px rgba(0, 50, 126, 0.12), 87px 0 0 -6px rgba(0, 50, 126, 0.12), 88px 0 0 -6px rgba(0, 50, 126, 0.12), 89px 0 0 -6px rgba(0, 50, 126, 0.12), 90px 0 0 -6px rgba(0, 50, 126, 0.12), 91px 0 0 -6px rgba(0, 50, 126, 0.12), 92px 0 0 -6px rgba(0, 50, 126, 0.12), 93px 0 0 -6px rgba(0, 50, 126, 0.12), 94px 0 0 -6px rgba(0, 50, 126, 0.12), 95px 0 0 -6px rgba(0, 50, 126, 0.12), 96px 0 0 -6px rgba(0, 50, 126, 0.12), 97px 0 0 -6px rgba(0, 50, 126, 0.12), 98px 0 0 -6px rgba(0, 50, 126, 0.12), 99px 0 0 -6px rgba(0, 50, 126, 0.12), 100px 0 0 -6px rgba(0, 50, 126, 0.12), 101px 0 0 -6px rgba(0, 50, 126, 0.12), 102px 0 0 -6px rgba(0, 50, 126, 0.12), 103px 0 0 -6px rgba(0, 50, 126, 0.12), 104px 0 0 -6px rgba(0, 50, 126, 0.12), 105px 0 0 -6px rgba(0, 50, 126, 0.12), 106px 0 0 -6px rgba(0, 50, 126, 0.12), 107px 0 0 -6px rgba(0, 50, 126, 0.12), 108px 0 0 -6px rgba(0, 50, 126, 0.12), 109px 0 0 -6px rgba(0, 50, 126, 0.12), 110px 0 0 -6px rgba(0, 50, 126, 0.12), 111px 0 0 -6px rgba(0, 50, 126, 0.12), 112px 0 0 -6px rgba(0, 50, 126, 0.12), 113px 0 0 -6px rgba(0, 50, 126, 0.12), 114px 0 0 -6px rgba(0, 50, 126, 0.12), 115px 0 0 -6px rgba(0, 50, 126, 0.12), 116px 0 0 -6px rgba(0, 50, 126, 0.12), 117px 0 0 -6px rgba(0, 50, 126, 0.12), 118px 0 0 -6px rgba(0, 50, 126, 0.12), 119px 0 0 -6px rgba(0, 50, 126, 0.12), 120px 0 0 -6px rgba(0, 50, 126, 0.12), 121px 0 0 -6px rgba(0, 50, 126, 0.12), 122px 0 0 -6px rgba(0, 50, 126, 0.12), 123px 0 0 -6px rgba(0, 50, 126, 0.12), 124px 0 0 -6px rgba(0, 50, 126, 0.12), 125px 0 0 -6px rgba(0, 50, 126, 0.12), 126px 0 0 -6px rgba(0, 50, 126, 0.12), 127px 0 0 -6px rgba(0, 50, 126, 0.12), 128px 0 0 -6px rgba(0, 50, 126, 0.12), 129px 0 0 -6px rgba(0, 50, 126, 0.12), 130px 0 0 -6px rgba(0, 50, 126, 0.12), 131px 0 0 -6px rgba(0, 50, 126, 0.12), 132px 0 0 -6px rgba(0, 50, 126, 0.12), 133px 0 0 -6px rgba(0, 50, 126, 0.12), 134px 0 0 -6px rgba(0, 50, 126, 0.12), 135px 0 0 -6px rgba(0, 50, 126, 0.12), 136px 0 0 -6px rgba(0, 50, 126, 0.12), 137px 0 0 -6px rgba(0, 50, 126, 0.12), 138px 0 0 -6px rgba(0, 50, 126, 0.12), 139px 0 0 -6px rgba(0, 50, 126, 0.12), 140px 0 0 -6px rgba(0, 50, 126, 0.12), 141px 0 0 -6px rgba(0, 50, 126, 0.12), 142px 0 0 -6px rgba(0, 50, 126, 0.12), 143px 0 0 -6px rgba(0, 50, 126, 0.12), 144px 0 0 -6px rgba(0, 50, 126, 0.12), 145px 0 0 -6px rgba(0, 50, 126, 0.12), 146px 0 0 -6px rgba(0, 50, 126, 0.12), 147px 0 0 -6px rgba(0, 50, 126, 0.12), 148px 0 0 -6px rgba(0, 50, 126, 0.12), 149px 0 0 -6px rgba(0, 50, 126, 0.12), 150px 0 0 -6px rgba(0, 50, 126, 0.12), 151px 0 0 -6px rgba(0, 50, 126, 0.12), 152px 0 0 -6px rgba(0, 50, 126, 0.12), 153px 0 0 -6px rgba(0, 50, 126, 0.12), 154px 0 0 -6px rgba(0, 50, 126, 0.12), 155px 0 0 -6px rgba(0, 50, 126, 0.12), 156px 0 0 -6px rgba(0, 50, 126, 0.12), 157px 0 0 -6px rgba(0, 50, 126, 0.12), 158px 0 0 -6px rgba(0, 50, 126, 0.12), 159px 0 0 -6px rgba(0, 50, 126, 0.12), 160px 0 0 -6px rgba(0, 50, 126, 0.12), 161px 0 0 -6px rgba(0, 50, 126, 0.12), 162px 0 0 -6px rgba(0, 50, 126, 0.12), 163px 0 0 -6px rgba(0, 50, 126, 0.12), 164px 0 0 -6px rgba(0, 50, 126, 0.12), 165px 0 0 -6px rgba(0, 50, 126, 0.12), 166px 0 0 -6px rgba(0, 50, 126, 0.12), 167px 0 0 -6px rgba(0, 50, 126, 0.12), 168px 0 0 -6px rgba(0, 50, 126, 0.12), 169px 0 0 -6px rgba(0, 50, 126, 0.12), 170px 0 0 -6px rgba(0, 50, 126, 0.12), 171px 0 0 -6px rgba(0, 50, 126, 0.12), 172px 0 0 -6px rgba(0, 50, 126, 0.12), 173px 0 0 -6px rgba(0, 50, 126, 0.12), 174px 0 0 -6px rgba(0, 50, 126, 0.12), 175px 0 0 -6px rgba(0, 50, 126, 0.12), 176px 0 0 -6px rgba(0, 50, 126, 0.12), 177px 0 0 -6px rgba(0, 50, 126, 0.12), 178px 0 0 -6px rgba(0, 50, 126, 0.12), 179px 0 0 -6px rgba(0, 50, 126, 0.12), 180px 0 0 -6px rgba(0, 50, 126, 0.12), 181px 0 0 -6px rgba(0, 50, 126, 0.12), 182px 0 0 -6px rgba(0, 50, 126, 0.12), 183px 0 0 -6px rgba(0, 50, 126, 0.12), 184px 0 0 -6px rgba(0, 50, 126, 0.12), 185px 0 0 -6px rgba(0, 50, 126, 0.12), 186px 0 0 -6px rgba(0, 50, 126, 0.12), 187px 0 0 -6px rgba(0, 50, 126, 0.12), 188px 0 0 -6px rgba(0, 50, 126, 0.12), 189px 0 0 -6px rgba(0, 50, 126, 0.12), 190px 0 0 -6px rgba(0, 50, 126, 0.12), 191px 0 0 -6px rgba(0, 50, 126, 0.12), 192px 0 0 -6px rgba(0, 50, 126, 0.12), 193px 0 0 -6px rgba(0, 50, 126, 0.12), 194px 0 0 -6px rgba(0, 50, 126, 0.12), 195px 0 0 -6px rgba(0, 50, 126, 0.12), 196px 0 0 -6px rgba(0, 50, 126, 0.12), 197px 0 0 -6px rgba(0, 50, 126, 0.12), 198px 0 0 -6px rgba(0, 50, 126, 0.12), 199px 0 0 -6px rgba(0, 50, 126, 0.12), 200px 0 0 -6px rgba(0, 50, 126, 0.12), 201px 0 0 -6px rgba(0, 50, 126, 0.12), 202px 0 0 -6px rgba(0, 50, 126, 0.12), 203px 0 0 -6px rgba(0, 50, 126, 0.12), 204px 0 0 -6px rgba(0, 50, 126, 0.12), 205px 0 0 -6px rgba(0, 50, 126, 0.12), 206px 0 0 -6px rgba(0, 50, 126, 0.12), 207px 0 0 -6px rgba(0, 50, 126, 0.12), 208px 0 0 -6px rgba(0, 50, 126, 0.12), 209px 0 0 -6px rgba(0, 50, 126, 0.12), 210px 0 0 -6px rgba(0, 50, 126, 0.12), 211px 0 0 -6px rgba(0, 50, 126, 0.12), 212px 0 0 -6px rgba(0, 50, 126, 0.12), 213px 0 0 -6px rgba(0, 50, 126, 0.12), 214px 0 0 -6px rgba(0, 50, 126, 0.12), 215px 0 0 -6px rgba(0, 50, 126, 0.12), 216px 0 0 -6px rgba(0, 50, 126, 0.12), 217px 0 0 -6px rgba(0, 50, 126, 0.12), 218px 0 0 -6px rgba(0, 50, 126, 0.12), 219px 0 0 -6px rgba(0, 50, 126, 0.12), 220px 0 0 -6px rgba(0, 50, 126, 0.12), 221px 0 0 -6px rgba(0, 50, 126, 0.12), 222px 0 0 -6px rgba(0, 50, 126, 0.12), 223px 0 0 -6px rgba(0, 50, 126, 0.12), 224px 0 0 -6px rgba(0, 50, 126, 0.12), 225px 0 0 -6px rgba(0, 50, 126, 0.12), 226px 0 0 -6px rgba(0, 50, 126, 0.12), 227px 0 0 -6px rgba(0, 50, 126, 0.12), 228px 0 0 -6px rgba(0, 50, 126, 0.12), 229px 0 0 -6px rgba(0, 50, 126, 0.12), 230px 0 0 -6px rgba(0, 50, 126, 0.12), 231px 0 0 -6px rgba(0, 50, 126, 0.12), 232px 0 0 -6px rgba(0, 50, 126, 0.12), 233px 0 0 -6px rgba(0, 50, 126, 0.12), 234px 0 0 -6px rgba(0, 50, 126, 0.12), 235px 0 0 -6px rgba(0, 50, 126, 0.12), 236px 0 0 -6px rgba(0, 50, 126, 0.12), 237px 0 0 -6px rgba(0, 50, 126, 0.12), 238px 0 0 -6px rgba(0, 50, 126, 0.12), 239px 0 0 -6px rgba(0, 50, 126, 0.12), 240px 0 0 -6px rgba(0, 50, 126, 0.12);
		margin-top: -6px;
		border: 1px solid rgba(0, 30, 75, 0.12);
		transition: .3s border-color, .3s background-color;
	}
	&::-moz-range-thumb {
		width: 14px;
		height: 14px;
		background: #fff;
		border-radius: 50px;
		border: 1px solid rgba(0, 30, 75, 0.12);
		position: relative;
		transition: .3s border-color, .3s background-color;
	}
	&::-moz-range-progress {
		height: 2px;
		background: $color-blue;
		border: 0;
		margin-top: 0;
	}
	&::-ms-track {
		background: 0 0;
		border: 0;
		border-color: transparent;
		border-width: 0;
		color: transparent;
		height: 2px;
		margin-top: 10px;
		width: 240px;
		border-width: .5rem;
	}
	&::-ms-thumb {
		width: 240px;
		height: 2px;
		background: #fff;
		border-radius: 50px;
		border: 1px solid rgba(0, 30, 75, 0.12);
		transition: .3s border-color, .3s background-color;
	}
	&::-ms-tooltip {
		display: none;
	}
}
.selectgroup {
	display: -ms-inline-flexbox;
	display: inline-flex;
}
.selectgroup-item {
	-ms-flex-positive: 1;
	flex-grow: 1;
	position: relative;
	+.selectgroup-item {
		margin-left: -1px;
	}
	&:not(:first-child) .selectgroup-button {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	&:not(:last-child) .selectgroup-button {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}
.selectgroup-input {
	opacity: 0;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
}
.selectgroup-button {
	display: block;
	border: 1px solid $border-color;
	text-align: center;
	padding: .375rem 1rem;
	position: relative;
	cursor: pointer;
	border-radius: 5px;
	color: $text-color;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: .9375rem;
	line-height: 1.5rem;
	min-width: 2.375rem;
}
.selectgroup-button-icon {
	padding-left: .5rem;
	padding-right: .5rem;
	font-size: 1rem;
}
.selectgroup-pills {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: start;
	align-items: flex-start;
	.selectgroup-item {
		margin-right: .5rem;
		-ms-flex-positive: 0;
		flex-grow: 0;
	}
	.selectgroup-button {
		border-radius: 50px !important;
	}
}
.custom-switch {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-align: center;
	align-items: center;
	margin: 0;
	padding-left: 0;
}
.custom-switch-input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.custom-switches-stacked {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	.custom-switch {
		margin-bottom: .5rem;
	}
}
.custom-switch-indicator {
	display: inline-block;
	height: 1.25rem;
	width: 2.25rem;
	background: $border-color;
	border-radius: 50px;
	position: relative;
	vertical-align: bottom;
	border: 1px solid $border-color;
	transition: .3s border-color, .3s background-color;
	&:before {
		content: '';
		position: absolute;
		height: calc(1.25rem - 4px);
		width: calc(1.25rem - 4px);
		top: 1px;
		left: 1px;
		background: #fff;
		border-radius: 50%;
		transition: .3s left;
		box-shadow: 0 1px 2px 0 rgba(49, 45, 101, 0.4);
	}
}
.custom-switch-input:checked~.custom-switch-indicator:before {
	left: calc(1rem + 1px);
}
.custom-switch-description {
	margin-left: .5rem;
	color: #5f6877;
	transition: .3s color;
}
.custom-switch-input:checked~.custom-switch-description {
	color: #3d4e67;
}
.imagecheck {
	margin: 0;
	position: relative;
	cursor: pointer;
}
.imagecheck-input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.imagecheck-figure {
	border: 0px solid $border-color;
	border-radius: 5px;
	margin: 0;
	position: relative;
	height: 100%;
}
.imagecheck-input:checked~.imagecheck-figure {
	border-color: rgba(0, 40, 100, 0.24);
	border: 0 !important;
}
.imagecheck-figure:before {
	content: '';
	position: absolute;
	top: -20px;
	left: .25rem;
	display: block;
	width: 1.25rem;
	height: 1.25rem;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 1;
	border-radius: 5px;
	opacity: 0;
	transition: .3s opacity;
}
.imagecheck-input:checked~.imagecheck-figure:before {
	opacity: 1;
}
.imagecheck-image {
	max-width: 100%;
	opacity: .64;
	transition: .3s opacity;
	border-radius: 5px;
	&:first-child {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	&:last-child {
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
}
.imagecheck-input {
	&:checked~.imagecheck-figure .imagecheck-image, &:focus~.imagecheck-figure .imagecheck-image {
		opacity: 1;
	}
}
.imagecheck:hover .imagecheck-image {
	opacity: 1;
}
.imagecheck-caption {
	text-align: center;
	padding: .25rem .25rem;
	color: #cecde0;
	font-size: .875rem;
	transition: .3s color;
}
.imagecheck-input {
	&:checked~.imagecheck-figure .imagecheck-caption, &:focus~.imagecheck-figure .imagecheck-caption {
		color: #3d4e67;
	}
}
.imagecheck:hover .imagecheck-caption {
	color: #3d4e67;
}
.colorinput {
	margin: 0;
	position: relative;
	cursor: pointer;
}
.colorinput-input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.colorinput-color {
	display: inline-block;
	width: 1.75rem;
	height: 1.75rem;
	border-radius: 5px;
	border: 1px solid $border-color;
	color: #fff;
	box-shadow: 0 1px 2px 0 rgba(49, 45, 101, 0.05);
	&:before {
		content: '';
		opacity: 0;
		position: absolute;
		top: .25rem;
		left: .25rem;
		height: 1.25rem;
		width: 1.25rem;
		transition: .3s opacity;
		background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E") no-repeat center (center / 50%) 50%;
	}
}
.colorinput-input:checked~.colorinput-color:before {
	opacity: 1;
}
.selectize-control.plugin-drag_drop {
	&.multi>.selectize-input>div.ui-sortable-placeholder {
		visibility: visible !important;
		background: #f2f2f2 !important;
		background: rgba(49, 45, 101, 0.06) !important;
		border: 0 none !important;
		box-shadow: inset 0 0 12px 4px #fff;
	}
	.ui-sortable-placeholder::after {
		content: '!';
		visibility: hidden;
	}
	.ui-sortable-helper {
		box-shadow: 0 2px 5px rgba(49, 45, 101, 0.2);
	}
}
.selectize-dropdown-header {
	position: relative;
	padding: 5px 8px;
	border-bottom: 1px solid #d0d0d0;
	background: #f8f8f8;
	border-radius: 3px 3px 0 0;
}
.selectize-dropdown-header-close {
	position: absolute;
	right: 8px;
	top: 50%;
	color: #3d4e67;
	opacity: .4;
	margin-top: -12px;
	line-height: 20px;
	font-size: 20px !important;
	&:hover {
		color: #000;
	}
}
.selectize-dropdown.plugin-optgroup_columns {
	.optgroup {
		border-right: 1px solid #f2f2f2;
		border-top: 0 none;
		float: left;
		box-sizing: border-box;
		&:last-child {
			border-right: 0 none;
		}
		&:before {
			display: none;
		}
	}
	.optgroup-header {
		border-top: 0 none;
	}
}
.selectize-control {
	&.plugin-remove_button {
		[data-value] {
			position: relative;
			padding-right: 24px !important;
			.remove {
				z-index: 1;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				width: 17px;
				text-align: center;
				font-weight: 700;
				font-size: 12px;
				color: inherit;
				text-decoration: none;
				vertical-align: middle;
				display: inline-block;
				padding: 2px 0 0 0;
				border-left: 1px solid #d0d0d0;
				border-radius: 0 2px 2px 0;
				box-sizing: border-box;
				&:hover {
					background: rgba(49, 45, 101, 0.05);
				}
			}
			&.active .remove {
				border-left-color: #cacaca;
			}
		}
		.disabled [data-value] .remove {
			&:hover {
				background: 0 0;
			}
			border-left-color: #fff;
		}
		.remove-single {
			position: absolute;
			right: 28px;
			top: 6px;
			font-size: 23px;
		}
	}
	position: relative;
	padding: 0;
	border: 0;
}
.selectize-dropdown {
	color: #3d4e67;
	font-family: inherit;
	font-size: 15px;
	line-height: 18px;
	-webkit-font-smoothing: inherit;
}
.selectize-input {
	color: #3d4e67;
	font-family: inherit;
	font-size: 15px;
	line-height: 18px;
	-webkit-font-smoothing: inherit;
	input {
		color: #3d4e67;
		font-family: inherit;
		font-size: 15px;
		line-height: 18px;
		-webkit-font-smoothing: inherit;
	}
}
.selectize-control.single .selectize-input.input-active {
	background: #fff;
	cursor: text;
	display: inline-block;
}
.selectize-input {
	background: #fff;
	cursor: text;
	display: inline-block;
	border: 1px solid $border-color;
	padding: .5625rem .75rem;
	display: inline-block;
	display: block;
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 1;
	box-sizing: border-box;
	border-radius: 5px;
	transition: .3s border-color, .3s box-shadow;
}
.selectize-control.multi .selectize-input.has-items {
	padding: 7px .75rem 4px 7px;
}
.selectize-input {
	&.full {
		background-color: #fff;
	}
	&.disabled {
		cursor: default !important;
		* {
			cursor: default !important;
		}
	}
	&.dropdown-active {
		border-radius: 3px 3px 0 0;
	}
	>* {
		vertical-align: baseline;
		display: -moz-inline-stack;
		display: inline-block;
		zoom: 1;
	}
}
.selectize-control.multi .selectize-input {
	>div {
		cursor: pointer;
		margin: 0 3px 3px 0;
		padding: 2px 6px;
		background: $border-color;
		color: #3d4e67;
		font-size: 13px;
		border: 0 solid $border-color;
		border-radius: 5px;
		font-weight: 400;
		&.active {
			background: #e8e8e8;
			color: #303030;
			border: 0 solid #cacaca;
		}
	}
	&.disabled>div {
		color: #7d7d7d;
		background: #fff;
		border: 0 solid #fff;
		&.active {
			color: #7d7d7d;
			background: #fff;
			border: 0 solid #fff;
		}
	}
}
.selectize-input {
	>input {
		display: inline-block !important;
		padding: 0 !important;
		min-height: 0 !important;
		max-height: none !important;
		max-width: 100% !important;
		margin: 0 2px 0 0 !important;
		text-indent: 0 !important;
		border: 0 none !important;
		background: 0 0 !important;
		line-height: inherit !important;
		box-shadow: none !important;
		&::-ms-clear {
			display: none;
		}
		&:focus {
			outline: 0 !important;
		}
	}
	&::after {
		content: ' ';
		display: block;
		clear: left;
	}
	&.dropdown-active::before {
		content: ' ';
		display: block;
		position: absolute;
		background: #f0f0f0;
		height: 1px;
		bottom: 0;
		left: 0;
		right: 0;
	}
}
.selectize-dropdown {
	position: absolute;
	z-index: 10;
	border: 1px solid $border-color;
	background: #fff;
	margin: -1px 0 0 0;
	border-top: 0 none;
	box-sizing: border-box;
	border-radius: 0 0 3px 3px;
	height: auto;
	padding: 0;
	[data-selectable] {
		cursor: pointer;
		overflow: hidden;
		.highlight {
			background: rgba(125, 168, 208, 0.2);
			border-radius: 1px;
		}
	}
	.optgroup-header, [data-selectable] {
		padding: 6px .75rem;
	}
	.optgroup:first-child .optgroup-header {
		border-top: 0 none;
	}
	.optgroup-header {
		color: #3d4e67;
		background: #fff;
		cursor: default;
	}
	.active {
		background-color: #f1f4f8;
		color: $color-blue;
		&.create {
			color: #3d4e67;
		}
	}
	.create {
		color: rgba(48, 48, 48, 0.5);
	}
}
.selectize-dropdown-content {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 200px;
	-webkit-overflow-scrolling: touch;
}
.selectize-control {
	&.single .selectize-input {
		cursor: pointer;
		input {
			cursor: pointer;
		}
		&.input-active {
			cursor: text;
			input {
				cursor: text;
			}
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 13px;
			right: 12px;
			width: 8px;
			height: 10px;
			background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 5'%3E%3Cpath fill='#999' d='M0 0L10 0L5 5L0 0'/%3E%3C/svg%3E") no-repeat center;
			background-size: 8px 10px;
			transition: .3s transform;
		}
		&.dropdown-active:after {
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
		}
	}
	.selectize-input.disabled {
		opacity: .5;
		background-color: #fafafa;
	}
}
.selectize-dropdown .image, .selectize-input .image {
	width: 1.25rem;
	height: 1.25rem;
	background-size: contain;
	margin: -1px .5rem -1px -4px;
	line-height: 1.25rem;
	float: left;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.selectize-dropdown .image img {
	max-width: 100%;
	box-shadow: 0 1px 2px 0 rgba(49, 45, 101, 0.4);
	border-radius: 2px;
}
.selectize-input .image {
	img {
		max-width: 100%;
		box-shadow: 0 1px 2px 0 rgba(49, 45, 101, 0.4);
		border-radius: 2px;
	}
	width: 1.5rem;
	height: 1.5rem;
	margin: -3px .75rem -3px -5px;
}
/*-------- Custom Control -------*/
